/* 扣款明细页面表头icon样式 */
.app-comp-supply-deductions-title-icon {
  color: #FF7700;
}

/* 扣款明细页面表头文字样式 */
.app-comp-supply-deductions-title-text {
  display: inline-block;
  margin-left: 10px;
}

/* 扣款明细页面搜索样式 */
.app-comp-supply-deductions-search {
  background-color: #FAFAFA !important;
}