/* 报销单模板费用信息样式 */
.app-comp-expense-manage-template-create-refund-expense {
  background-color: #fff !important;
}

/* 报销单模板上传样式 */
.app-comp-expense-manage-template-create-refund-upload {
  color: red !important;
  cursor: pointer !important;
  margin: 0 5px !important;
}

/* 报销单模板项目信息样式 */
.app-comp-expense-manage-template-create-refund-project {
  background-color: #fff !important;
}

/* 报销单模板支付信息样式 */
.app-comp-expense-manage-template-create-refund-pay {
  background-color: #fff !important;
}

/* 报销单模板隐藏表单样式 */
.app-comp-expense-manage-template-create-refund-hide {
  display: none !important;
}

/* 租金模板公共样式 */
.app-comp-expense-manage-template-create-rent {
  background-color: #fff !important;
}

/* 租金模板上传样式 */
.app-comp-expense-manage-template-create-rent-upload {
  color: red !important;
  cursor: pointer !important;
  margin: 0 5px !important;
}

/* 租金模板隐藏表单样式 */
.app-comp-expense-manage-template-create-rent-hide {
  display: none !important;
}