/* 人员管理表单编辑银行卡识别样式 */
.app-comp-employee-manage-update-bank-identify {
  margin-left: 19% !important;
}

/* 人员管理表单编辑个人信息 */
.app-comp-employee-manage-update-base-list {
  width: 100% !important;
}

/* 人员管理表单编辑合同信息 */
.app-comp-employee-manage-update-contract-list {
  width: 100% !important;
}