/* 人员管理银行卡详情样式 */
.app-comp-employee-manage-detail-bankinfo {
  margin-left: 10px;
  margin-right: 8px;
}

/* 人员管理详情工具库样式 */
.app-comp-employee-manage-detail-util {
  width: 104px;
  height: 104px;
  background-color: #eee;
  text-align: center;
  line-height: 104px;
}

/* 人员管理历史记录分页详情样式 */
.app-comp-employee-manage-detail-history-info-pagination {
  text-align: right !important;
}