/* 房屋管理详情中介费样式 */
.app-comp-expense-house-contract-detail-mediation {
  margin-bottom: 20px;
}

/* 房屋管理详情押金样式 */
.app-comp-expense-house-contract-detail-account-deposit {
  margin-bottom: 20px;
}

/* 房屋管理详情租金样式 */
.app-comp-expense-house-contract-detail-account-rent {
  margin-bottom: 20px;
}

/* 房屋管理详情台账列表样式 */
.app-comp-expense-house-contract-detail-account-table {
  word-wrap: break-word;
  word-break: break-all;
}
