/* 还款管理列表流转样式 */
.app-comp-expense-repayments-tooltip {
  width: 100px !important; 
  word-wrap: break-word !important;
  word-break: keep-all !important;
}

/* 还款管理列表申请人样式 */
.app-comp-expense-repayments-apply {
  word-wrap: break-word !important;
  word-break: keep-all !important;
}

/* 还款管理列表审批流样式 */
.app-comp-expense-repayments-flow-info {
  word-wrap: break-word !important;
  word-break: keep-all !important;
}

/* 借款管理列表还款详情操作样式 */
.app-comp-expense-borrowing-operation-detail {
  margin-right: 10px !important;
}

/* 还款管理列表审批id样式 */
.app-comp-expense-repayments-flow-info-id {
  word-wrap: break-word;
  word-break: break-all;
}