/* 退款单操作样式 */
.app-comp-expense-manage-refund-form-create {
  margin: 30px 0 30px 0;
}

/* 提交弹窗样式 */
.app-comp-expense-form-modal-next-approval-wrap {
  height: 40px;
  margin-top: 10px;
}

/* 提交弹窗选择审批人样式 */
.app-comp-expense-form-modal-next-approval {
  color: #666666;
  text-align: center;
}
