/* 审批单打印 */
.boss_expense_print_borrow_money {
  padding: 0 16px;
  box-sizing: border-box;
  background-color: rgb(247,247,247);
  margin: 20px 0 0 0;
  overflow: hidden;
}

/* 审批单打印距离 */
.boss_expense_print_borrow_money_distance {
  margin: 18px 8px;
}

/* 审批单打印距离 */
.boss_expense_print_borrow_money_distance {
  margin: 18px 8px;
}

/* 审批单打印距离 */
.boss_expense_print_borrow_money_distance {
  margin: 18px 8px;
}