/* 借款管理列表流转样式 */
.app-comp-expense-borrowing-tooltip {
  width: 100px; 
  word-wrap: break-word;
  word-break: keep-all;
}

/* 借款管理列表实际借款人样式 */
.app-comp-expense-borrowing-actual-borrower {
  word-wrap: break-word;
  word-break: keep-all;
}

/* 借款管理列表审批流样式 */
.app-comp-expense-borrowing-flow-info {
  word-wrap: break-word;
  word-break: keep-all;
}

/* 借款管理列表还款操作样式 */
.app-comp-expense-borrowing-operation-reimbursement {
  margin-right: 10px;
}

/* 借款管理列表借款单号样式 */
.app-comp-expense-borrowin-id {
  word-wrap: break-word;
  word-break: break-all;
}

/* 借款管理列表流转信息颜色样式 */
.app-comp-expense-borrowing-node-color {
  color: #F5A623;
}