/* 服务费发放审批流配置按钮外部样式 */
.app-comp-expense-salary-issue-component-button {
  text-align: center;
  margin-top: 100px;
}

/* 服务费发放审批流配置提交样式 */
.app-comp-expense-salary-issue-component-submit {
  margin-right: 30px;
}

/* 服务费发放审批流配置标签内容样式 */
.app-comp-expense-salary-issue-component-content {
  max-height: 500px !important;
  overflow: auto !important;
}