/* 岗位名称样式 */
.app-comp-expense-post-jobs-name {
  margin-bottom: 10px !important;
}

/* 岗位成员样式 */
.app-comp-expense-post-jobs-members {
  margin: 10px 0 !important;
}

/* 岗位成员样式 */
.app-comp-expense-post-members {
  z-index: 999 !important;
}

.app-comp-expense-required::before {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 12px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*'
}