/* 科目设置列表操作编辑 */
.app-comp-expense-subject-operation-update {
  margin-left: 3px;
}

/* 科目设置列表 */
.app-comp-expense-subject {
  background-color: #FAFAFA;
}

/* 科目设置列表操作删除 */
.app-comp-expense-subject-operation-detele {
  margin-left: 3px;
}

/* 科目设置列表操作启用 */
.app-comp-expense-subject-operation-enable {
  margin-left: 3px;
}

/* 科目设置列表操作停用 */
.app-comp-expense-subject-operation-disable {
  margin-left: 3px;
}

/* 科目设置编辑保存 */
.app-comp-expense-subject-update-save {
  text-align: right !important;
}

/* 科目设置编辑提交 */
.app-comp-expense-subject-update-submit {
  margin-left: 40px;
}

/* 科目设置编辑按钮 */
.app-comp-expense-subject-update-button {
  margin: 30px 0 0 0 !important;
}

/* 科目设置创建保存 */
.app-comp-expense-subject-create-save {
  text-align: right !important;
}

/* 科目设置创建下一项 */
.app-comp-expense-subject-create-primary {
  text-align: left !important;
}

/* 科目设置创建按钮 */
.app-comp-expense-subject-create-button {
  margin: 30px 0 0 0 !important;
}

/* 科目设置详情标题 */
.app-comp-expense-subject-detail-common-title {
  text-align: right !important;
  overflow: hidden !important;
  color:#666;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

/* 科目设置详情内容 */
.app-comp-expense-subject-detail-common-content {
  text-align: left !important;
  font-weight: 800px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

/* 科目设置详情内容文字 */
.app-comp-expense-subject-detail-common-text {
  width: 200px !important;
  word-break: break-all !important;
}

/* 科目设置详情按钮 */
.app-comp-expense-subject-detail-common-button {
  margin-top: 40px;
  margin-left: 45%;
}

/* 科目设置详情间距 */
.app-comp-expense-subject-detail-common-distance {
  margin-top: 20px;
}
