/* 退款单布局样式 */
.app-comp-expense-manage-refund-cost-wrap {
  margin-top: 10px;
  border-top: 3px dashed #ccc;
  background-color: rgba(251, 245, 246, 1);
}

/* 退款单title样式 */
.app-comp-expense-manage-refund-cost-title {
  margin-top: 10px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

/* 退款单操作容器布局样式 */
.app-comp-expense-refund-operate-wrap {
  padding: 20px 0 20px;
  text-align: center;
}

/* 退款单操作样式 */
.app-comp-expense-refund-save {
  margin-left: 20px;
}

