/* 出差申请单详情 */
.app-comp-expense-travel-application-detail {
  width: 100%;
  word-wrap: break-word;
}

/* 出差申请单详情项目信息 */
.app-comp-expense-travel-application-detail-project {
  display: inline-block;
}

/* 出差申请单列表审批流 */
.app-comp-expense-travel-application-approval {
  word-break: break-all;
  word-wrap: break-word;
}

/* 出差申请单列搜索样式 */
.app-comp-expense-ravel-application-search {
  padding: 16px;
  margin: 10px 0 16px;
  background-color: #FAFAFA;
}