/* 人员管理表单编辑弹窗三方id */
.app-comp-employee-manage-update-modal-create-custom {
  width: 260px !important;
}

/* 人员管理表单编辑弹窗生效日期 */
.app-comp-employee-manage-update-modal-create-date{
  width: 260px !important;
}

/* 人员管理表单编辑弹窗三方 */
.app-comp-employee-manage-update-modal-edit{
  width: 260px !important;
}

/* 人员管理表单编辑弹窗终止日期 */
.app-comp-employee-manage-update-modal-expiry-date {
  width: 260px !important;
}

/* 人员管理表单编辑弹窗终止 */
.app-comp-employee-manage-update-modal-expiry {
  text-align: center !important;
  font-size: 14px !important;
}