.app-comp-oa-administration-seal-btn-wrap{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 自定义表单必填样式 */
.code-travel-form-required:before {
  content: '*';
  color: red;
  font-size: 12px;
  margin-right: 4px;
  line-height: 1;
  font-family: SimSun, sans-serif;
  display: inline-block;
}
