/* 工号管理列表操作详情 */
.app-comp-employee-transport-operate-detail {
  margin-right: 20px !important;
}

/* 工号管理列表操作编辑样式 */
.app-comp-employee-transport-operate-update {
  margin-right: 20px !important;
}

/* 工号管理列表 */
.app-comp-employee-transport {
  background-color: #FAFAFA !important;
}