
/* 记录明细列表审批单号 */
.app-comp-expense-records-order-id {
  word-wrap: break-word;
  word-break: break-all;
}

/* 记录明细列表费用单号 */
.app-comp-expense-records-cost-id {
  word-wrap: break-word;
  word-break: break-all;
}

/* 记录明细列表主题标签 */
.app-comp-expense-records-theme {
  word-wrap: break-word;
  word-break: break-all;
}

/* 记录明细列表科目 */
.app-comp-expense-records-subjects {
  word-wrap: break-word;
  width: 150px;
}

/* 记录明细列表金额 */
.app-comp-expense-records-total-money {
  word-wrap: break-word;
  word-break: break-all;
}