/* 费用分组列表页科目 */
.app-comp-expense-type-accounting-list {
  width: 300px;
  word-break: break-all;
}

/* 费用分组列表页科目操作详情 */
.app-comp-expense-type-operate-detail {
  margin-right: 10px;
}

/* 费用分组列表页科目操作编辑 */
.app-comp-expense-type-operate-update {
  margin-right: 10px;
}

/* 费用分组列表页科目操作启用 */
.app-comp-expense-type-operate-enable {
  margin-right: 10px;
}

/* 费用分组列表页科目操作删除 */
.app-comp-expense-type-operate-detele {
  margin-right: 10px;
}

/* 费用分组列表页科目操作 */
.app-comp-expense-type-operate {
  width: 80px;
}

/* 费用分组列表页科目编辑*/
.app-comp-expense-type-update-submit {
  margin-right: 20px;
}

/* 费用分组列表页科目创建 */
.app-comp-expense-type-accounting-ist-create {
  margin-left: 10px;
}

/* 费用分组列表页科目创建提交 */
.app-comp-expense-type-accounting-list-create-submit {
  margin-right: 20px;
}