/* 合同管理列表操作下载 */
.app-comp-employee-contract-opration-download {
  margin-left: 10px !important;
}

/* 合同管理列表批量导出合同 */
.app-comp-employee-contract-batch-contract {
  margin-bottom: 10px !important;
}

/* 合同管理列表批量导出身份证 */
.app-comp-employee-contract-batch-id-card {
  margin-bottom: 10px !important;
  margin-left: 10px !important;
}

.app-comp-expense-borrowing-info-file {
  margin-right: 10px !important;
}

.app-comp-employee-turnover-create-submit {
  margin-right: 20px !important;
}

.app-comp-employee-turnover-create-save {
  margin-left: 15px !important;
}