/* 服务费方案审批流配置按钮外部样式 */
.app-comp-expense-salary-plan-component-button {
  text-align: center;
  margin-top: 100px;
}

/* 服务费方案审批流配置提交样式 */
.app-comp-expense-salary-plan-component-submit {
  margin-right: 30px;
}

/* 服务费方案审批流配置标签页呢绒样式 */
.app-comp-expense-salary-plan-component-content {
  max-height: 500px !important;
  overflow: auto !important;
}