/* 房屋管理公共样式商圈 */
.app-comp-expense-house-contract-common-districts {
  width: 200px !important;
}

/* 房屋管理公共样式商圈 */
.app-comp-expense-house-contract-common {
  width: 1500px !important;
}

/* 房屋管理费用信息模 */
.app-comp-expense-house-contract-common-expense-info {
  background-color: #ffffff;
  overflow-X: auto;
}

/* 房屋管理退租/断租/续租编辑页操作 */
.app-comp-expense-house-contract-common-operation {
  margin: 30px 0 30px 0;
}

/* 房屋管理创建隐藏样式 */
.app-comp-expense-house-contract-from-customize {
  display: inline-block !important;
  margin-right: 10px !important;
}

/* 房屋管理创建押付样式 */
.app-comp-expense-house-contract-from-payment {
  width: 50px !important;
}

/* 房屋管理创建付样式 */
.boss_expense_house_contract_from_pay {
  width: 88px !important;
}
