/* 租金模板隐藏表单样式 */
.app-comp-expense-manage-template-create-rent-hide {
  display: none !important;
}

/* 报销单模板隐藏表单样式 */
.app-comp-expense-manage-template-create-refund-hide {
  display: none !important;
}
/* 报销单模板项目信息样式 */
.app-comp-expense-manage-template-create-refund-project {
  background-color: #FAFAFA !important;
}
/* 报销单模板编辑上传样式 */
.app-comp-expense-manage-template-refund-upload {
  margin-right: 10px !important;
}
/* 附件删除样式 */
.app-comp-expense-manage-template-refund-detele {
  color: red !important;
  cursor: pointer !important;
}
