/* 穿梭框节点名称样式 */
.app-comp-expense-transfor-node-name {
  width: 83%;
}

/* 穿梭框节点审批人样式 */
.app-comp-expense-transfor-approval {
  margin: 10px 0;
}

/* 穿梭框节点名称设置 */
.app-comp-expense-transfor-node-name-set {
  margin-bottom: 10px; 
}

/* 用户穿梭框样式修改 */
.app-comp-expense-user-transfor {
  z-index: 999;
}

/* 岗位穿梭框样式修改 */
.app-comp-expense-post-transfor {
  z-index: 999;
}