/* 房屋管理创建上传样式 */
.app-comp-expense-house-contract-from-upload {
  color: red !important;
  cursor: pointer !important;
  margin: 0 5px !important;
}

/* 房屋管理创建隐藏样式 */
.app-comp-expense-house-contract-from-hidden {
  display: none !important;
}

/* 房屋管理创建隐藏样式 */
.app-comp-expense-house-contract-from-customize {
  display: inline-block !important;
  margin-right: 10px !important;
}

/* 房屋管理创建押付样式 */
.app-comp-expense-house-contract-from-payment {
  width: 50px !important;
}

/* 房屋管理创建付样式 */
.boss-expense-house-contract-from-pay {
  width: 88px !important;
}
