/* 退款/红冲审批单 - 基本信息 - 主题标签DeprecatedCoreForm样式 */
.app-comp-expense-detail-tag-core {
  width: 80%;
}

/* 退款/红冲审批单 - 基本信息 - 主题标签select样式 */
.app-comp-expense-detail-tag-wrap {
  display: flex;
}

.app-comp-expense-detail-tag-save {
  margin: 4px 0 0 20px;
}

/* 退款/红冲审批单 - 基本信息 - 主题标签select样式 */
.app-comp-expense-detail-tag-select {
  width: 100%;
  margin-right: 10px;
}

/* 退款/红冲审批单 - 费用单折叠面板展开操作样式 */
.app-comp-expense-detail-order-info-ext {
  cursor: pointer;
}

/* 退款/红冲审批单 - 新建退款/红冲单上传附件样式 */
.app-comp-expense-manage-refund-form-upload {
  color: red !important;
  cursor: pointer !important;
  margin: 0 5px !important;
}

/* 退款/红冲审批单 - 新建退款/红冲单成本分摊附件样式 */
.app-comp-expense-cost-order-item-files-link {
margin-right: 10px;
}

/* 退款/红冲审批单 - 新建退款/红冲单成本分摊金额样式 */
.app-comp-expense-cost-order-item-update-cost-money {
  color: #F5A623;
  margin-right: 10px;
}

/* 上传样式 */
.app-comp-expense-manage-form-upload {
  color: red !important;
  cursor: pointer !important;
  margin: 0 5px !important;
}

/* 退款/红冲审批单的提交 */
.app-comp-expense-manage-form-submit {
  text-align: center;
  margin: 20px 0;
}

/* 审批单的提交（审批人选择） */
.app-comp-expense-form-modal-next-approval-wrap {
  height: 40px;
  margin-top: 10px;
}

/* 审批单的提交（审批人选择） */
.app-comp-expense-form-modal-next-approval {
  color: #666666;
  text-align: center;
}
