/* 房屋管理创建样式 */
.app-comp-expense-house-contract-create {
  margin: 30px 0 30px 0;
}

/* 房屋管理编辑样式 */
.app-comp-expense-house-contract-update {
  margin: 30px 0 30px 0;
}

/* 房屋管理操作样式 */
.app-comp-expense-house-contract-list-operation {
  margin-right: 5px;
}

/* 房屋管理列表合同编码样式 */
.app-comp-expense-house-contract-list-coding {
  word-wrap: break-word;
  word-break: break-all;
}

/* 房屋管理列表合同编码样式 */
.app-comp-expense-house-contract-list-operation-create {
  background: rgba(266,118,29,1);
  color: #fff;
  font-size: 12px;
}