/* 中介费模板编辑支付信息样式 */
.app-comp-expense-manage-template-agency-pay {
  background-color: #fff !important;
}

/* 中介费模板编辑上传样式 */
.app-comp-expense-manage-template-agency-upload {
  margin-right: 10px !important;
}

/* 中介费模板编辑删除样式 */
.app-comp-expense-manage-template-agency-detele {
  color: red !important;
  cursor: pointer !important;
  margin: 0 5px !important;
}

/* 中介费模板编辑样式 */
.app-comp-expense-manage-template-agency-info {
  background-color: #fff !important;
}

/* 押金损失模板编辑上传样式 */
.app-comp-expense-manage-template-break-upload {
  margin-right: 10px !important;
}

/* 押金损失模板编辑删除样式 */
.app-comp-expense-manage-template-break-detele {
  color: red !important;
  cursor: pointer !important;
  margin: 0 5px !important;
}

/* 押金损失模板编辑样式 */
.app-comp-expense-manage-template-break-info {
  background-color: #fff !important;
}

/* 押金模板编辑支付样式 */
.app-comp-expense-manage-template-break-pay {
  background-color: #fff !important;
}

/* 押金模板编辑上传样式 */
.app-comp-expense-manage-template-break-upload {
  margin-right: 10px !important;
}

/* 押金模板编辑删除样式 */
.app-comp-expense-manage-template-break-detele {
  color: red !important;
  cursor: pointer !important;
  margin: 0 5px !important;
}

/* 押金模板编辑样式 */
.app-comp-expense-manage-template-break-info {
  background-color: #fff !important;
}

/* 退回押金模板编辑上传样式 */
.app-comp-expense-manage-template-deposit-refund-upload {
  margin-right: 10px !important;
}

/* 退回押金模板编辑删除样式 */
.app-comp-expense-manage-template-deposit-refund-detele {
  color: red !important;
  cursor: pointer !important;
  margin: 0 5px !important;
}

/* 退回押金模板编辑样式 */
.app-comp-expense-manage-template-deposit-refund-info {
  background-color: #fff !important;
}

/* 押金差价模板编辑样式 */
.app-comp-expense-manage-template-deposit-spread {
  display: inline-block !important;
  margin-left: 10px !important;
}

/* 退租模板编辑上传样式 */
.app-comp-expense-manage-template-quit-uplod {
  margin-right: 10px !important;
}

/* 退租模板编辑删除样式 */
.app-comp-expense-manage-template-quit-detele {
  color: red !important;
  cursor: pointer !important;
  margin: 0 5px !important;
}

/* 退租模板编辑样式 */
.app-comp-expense-manage-template-quit-info {
  background-color: #fff !important;
}

/* 报销单模板编辑费用样式 */
.app-comp-expense-manage-template-refund-expense {
  margin-left: 30px;
  color: #ccc;
}

/* 报销单模板编辑上传样式 */
.app-comp-expense-manage-template-refund-upload {
  margin-right: 10px !important;
}

/* 报销单模板编辑删除样式 */
.app-comp-expense-manage-template-refund-detele {
  color: red !important;
  cursor: pointer !important;
  margin: 0 5px !important;
}

/* 报销单模板编辑隐藏样式 */
.app-comp-expense-manage-template-refund-hide {
  display: none !important;
}

/* 租金模板编辑支付样式 */
.app-comp-expense-manage-template-rent-pay {
  background-color: #fff !important;
}

/* 租金模板编辑隐藏样式 */
.app-comp-expense-manage-template-rent-hide {
  display: none !important;
}

/* 租金模板编辑上传样式 */
.app-comp-expense-manage-template-rent-upload {
  margin-right: 10px !important;
}

/* 租金模板编辑删除样式 */
.app-comp-expense-manage-template-rent-detele {
  color: red !important;
  cursor: pointer !important;
  margin: 0 5px !important;
}

/* 租金模板编辑样式 */
.app-comp-expense-manage-template-rent-info {
  background-color: #fff !important;
}

/* 房屋费用单隐藏表单样式 */
.app-comp-expense-manage-house-create-refund-hide {
  display: none !important;
}
