/* 分发明细页面操作模板更新时间样式 */
.app-comp-supply-distribution-operations-time {
  margin-right: 10px;
}

/* 分发明细页面操作中的下载 */
.app-comp-supply-distribution-operations-download {
  margin-right: 10px;
}

/* 分发明细页搜索样式 */
.app-comp-supply-distribution-search {
  background-color: #FAFAFA;
}
